.nav {
position: static;
width: 100%;
height: 94px;
background: #3A72B5;
}

h1 {
position: static;
width: 230px;
height: 21px;
margin: auto;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
padding-top: 25px;
color: #FFFFFF;
}

.rectangle-2 {
position: relative;
width: 1000px;
height: 560px;
left: 450px;
top: 150px;
background: #DBDBDB;
border-radius: 8px;
}

.rectangle-3 {
position: relative;
width: 419px;
height: 238px;
left: 60px;
top: 30px;
background: #FFFFFF;
border-radius: 8px;
}

.rectangle-4 {
position: relative;
width: 419px;
height: 238px;
left: 510px;
top: -205px;
background: #ffffff;
border-radius: 8px;
}

.rectangle-5 {
position: relative;
width: 876px;
height: 236px;
left: 55px;
top: -180px;
background: #ffffff;
border-radius: 8px;
}

#text3 {
position: relative;
width: 312px;
height: 42px;
left: 305px;
top: 336px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
}
